<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <h3>Hello from ASP.NET Core MVC!</h3>

    <br /><br />
    <input type="button" value="Call Notification" onclick="location.href='@Url.Action("SayHello", "Home")'" />
</body>
</html>
